
html {
    scroll-behavior:smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.main {
  height: 100vh;
  width: 100vw;  
}
#section1 {
  height: 100vh;
  width: 100vw;
  background-color:#d1a66d;
  flex:auto
}

.pushpin {
    position: absolute;
    left:695px;
    top: 95px;
}


.opening {
    width: 80vw;
    height: 80vh;
    animation-name: rotater;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: absolute;
    left: 151px;
    top: 90px;
    transform-origin:top;
}


@keyframes rotater{
    
    0%{
        transform: rotateZ(-8deg)
    }
    
    100%{
        transform: rotateZ(8deg)
    }
    
}

.bench {
    width: 100vw;
    height: 95vh;
    right: 40px;
    position:absolute;
    animation-name: rotater2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    transform-origin:top;
}

@keyframes rotater2{
    
    0%{
        transform: rotateZ(-2deg)
    }
    
    100%{
        transform: rotateZ(2deg)
    }
    
}

.shading {
    width: 100vw;
    height: 100vh; 
    position:absolute;
}

.sunflower {
    width: 35vw;
    height: 35vh;
    top: 990px;
    left: 100px;
    position: absolute;
    
}


.sunflower:hover {
    transform: rotate(20deg);
}

#section5 {
    height: 100vh;
    width: 100vw;
    background-color:#add5db;
}

.hut {
    width: 590px;
    height: 700px;
    position: absolute;
}

.hut:hover {
    transform:translate(-40px);
}

.tree {
    width: 100vw;
    height: 100vh;
    left: 400px;
    position: absolute;
}

.plants {
    width: 100vw;
    height: 100vh; 
    position:absolute;
    left: 500px;
    animation: nudge 3s linear infinite ;
    animation-direction: alternate;
    animation-timing-function: ease;
    transform-origin: bottom;
}

@keyframes nudge {
  0% {
    transform: rotateZ(2deg);
  }
  
    100% {
        transform: rotateZ(-2deg);
    }
}

#section3 {
  height: 100vh;
  width: 100vw;
  background-color:#592b11; 
}

#section4 {
    height: 100vh;
  width: 100vw;
  background-color:#ffeed4; 
}

.green {
    width: 40vw;
    height: 40vh; 
    margin-top: 50px;
    left: 40px;
    position:absolute;
    animation: pulsate 2s ease infinite;
}

.navy {
    width: 20vw;
    height: 20vh; 
    margin-top: 50px;
    left: 550px;
    position:absolute;
    animation: pulsate 4s ease infinite;
}



.red {
    width: 20vw;
    height: 20vh; 
    margin-top: 250px;
    left: 600px;
    position:absolute;
}



.orange {
    width: 40vw;
    height: 40vh; 
    margin-top: 50px;
    left: 900px;
    position:absolute;
    animation: spin 7s  infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.yellow {
    width: 70vw;
    height: 70vh; 
    margin-top: 180px;
    left: 100px;
    position:absolute;
}

.bush {
    width: 100vw;
    height: 100vh; 
    position:absolute;
}

.poles {
   width: 80vw;
    height: 80vh; 
    top: 1465px;
    left: 30px;
    position:absolute; 
}

.bulb4 {
    width: 25vw;
    height: 25vh; 
    top: 1895px;
    left: 950px;
   position:absolute; 
    animation: fadeIn ease 5s infinite;
}

.bulb3 {
    width: 25vw;
    height: 25vh; 
    top: 1835px;
    left: 660px;
   position:absolute; 
    animation: fadeIn ease 1s infinite;
    animation-delay: 2s;
}

.bulb3:hover {
    transform:scale(1.25);
}


.bulb2 {
    width: 25vw;
    height: 25vh; 
    top: 1735px;
    left: 280px;
   position:absolute; 
}

.bulb1 {
    width: 15vw;
    height: 25vh; 
    top: 1795px;
    left: 0px;
   position:absolute; 
   animation: fadeIn ease 2.5s infinite;
    animation-delay: 3s;
}


@keyframes fadeIn {
0% {opacity:.5;}
50% {opacity:1;}
100%{opacity:.5;}
}

.table {
    right: 0px;
    top: 1900px;
    width: 50vw;
    height: 100vh;
    position: absolute;
}

#section2 {
  height: 100vh;
  width: 100vw;
  background-color:#f7e3d2;
}
}

#section6 {
  height: 100vh;
  width: 100vw;
  background-color:#fce8e0;
}


.poolbg {
    top: 3290px;
    height:100vh;
    width:100vw;
    position: absolute;
}

.handles {
    position: absolute;
    height: 40vh;
    width: 40vh;
    top: 3384px;
    left: 800px;
    transition: translate ease;
}

.handles:hover {
    transform:translate(100px);
    
}


.arc {
    position: absolute;
    height: 40vh;
    width: 40vh;
    top: 3346px;
    left: 300px;
}

.pinkpool {
   position: absolute;
    height: 40vh;
    width: 40vh;
    top: 3226px;
    left: 300px; 
    animation: fadeIn ease 2s infinite;
}

.falling {
    position:absolute;
    top: 4200px;
    left: 850px;
    width: 30vh;
    height: 30vh;
}

.audio {
    width: 0px;
    height: 0px;
}

/*
.music {
    width: 0px;
    height:0px;
}*/
